
client
dev tun
proto tcp
remote {{openvpn_public_hostname}} 1194
resolv-retry infinite
nobind
persist-key
persist-tun
ca ca.crt
cert __USERNAME__.crt
key __USERNAME__.key
remote-cert-tls server
cipher AES-256-CBC   # AES
compress lzo
verb 3
