Hi __USERNAME__

This email contains your openvpn certificate. 

Someone should have contacted you with the password for the certificate either via a separate email or a phone call or instant message.

The directory is called .tblk to make it easier for tunnelblick users. But should also work for normal openvpn on linux.

Sincerely,

OpenVPN certificate generator mailer thingie for {{OPENVPN_KEY_ORG}} :)
